{% extends "layout.html" %}
{% block body %}
<form method=POST action="{{ url_for('register') }}"
    style="display: flex; flex-direction: column; align-items: center; width: 100%">
    <div class="form-group" style="width: 40%;">
        <label for="exampleInputUserName" style="color:deepskyblue">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username" style="font-size:large">
    </div>
    <br />
    <div class="form-group" style="width: 40%;">
        <label for="exampleInputEmail1" style="color:deepskyblue">E-mail</label>
        <input type="email" class="form-control" name="email" placeholder="E-mail" style="font-size:large">
    </div>
    <br />
    <div class="form-group" style="width: 40%;">
        <label for="exampleInputPassword1" style="color:deepskyblue">Password</label>
        <input type="password" class="form-control" name="pass" placeholder="Password" style="font-size:large">
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-block" style="width: 40%">
        <span style="font-size: large;">
            Register
        </span>
    </button>
</form>
<br>
<div>
    <span style="color:#04b4aa">Have an account? </span><a href="{{ url_for('login') }}">Login in here</a>.
</div>
{% endblock %}